@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eceffb;
  --foreground: #171717;
  --gradient: radial-gradient(#4562d6, #031831);
  --primary: #2042b9;
  --form: #1c1d28;
  --grey: #a6a9b5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181920;
    --foreground: #ededed;
    /* --form: #ffff; */
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
