@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gradient: var(--gradient);
  --color-primary: var(--primary);
  --color-form: var(--form);
  --color-grey: var(--grey);
  --color-maincolor: var(--main-color);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-error: var(--error);
  --color-error-border: var(--error-border);
  --color-error-text: var(--error-text);
  --color-home-gradient: var(--home-gradient);
  --color-main-text: var(--main-text);
  --color-group: var(--group);

  @keyframes moveInOut {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-15px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.62rem;
}

@layer base {
  :root {
    --gradient: radial-gradient(
      110.5% 150.26% at 100% -5.51%,
      #3b456c 0%,
      #1e74d9 100%
    );
    --home-gradient: radial-gradient(#4562d6, #031831);
    --background: #eceffb;
    --foreground: #171717;
    --primary: #2042b9;
    --form: #ffff;
    --grey: #a6a9b5;
    --main-color: #ffff;
    --border: #d3d7ec;
    --accent: #f4f5ff;
    --main-text: #3c3d41;
    --text: #3c3d41;
    --error: #fee;
    --error-border: #d95757;
    --error-text: #d95757;
    --transition-duration: 0.5s; /* Длительность перехода */
    --group: #7a4dc4;
  }
  html.dark {
    --gradient: radial-gradient(
      110.5% 150.26% at 100% -5.51%,
      #3b456c 0%,
      #1e74d9 100%
    );
    --border: #515666;
    --main-text: #ffff;
    --background: #181920;
    --foreground: #ededed;
    --primary: #647eda;
    --form: #1c1d28;
    --main-color: #272835;
    --accent: #363948;
    --text: #f0f2f6;
  }
  html.light {
    --background: #eceffb;
    --gradient: radial-gradient(
      110.5% 150.26% at 100% -5.51%,
      #3b456c 0%,
      #1e74d9 100%
    );
    --main-text: #3c3d41;
    --foreground: #171717;
    --gradient: radial-gradient(#4562d6, #031831);
    --primary: #2042b9;
    --form: #fff;
    --grey: #a6a9b5;
    --main-color: #ffff;
    --border: #d3d7ec;
    --accent: #f4f5ff;
    --text: #3c3d41;
  }
  *::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    color: red;
  }
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
  }
}
:is(
    div,
    section,
    article,
    header,
    footer,
    main,
    aside,
    nav,
    button,
    input,
    textarea,
    select,
    label,
    a,
    li,
    ul,
    ol,
    table,
    td,
    th
  ) {
  transition: background var(--transition-duration),
    border-color var(--transition-duration);
}

:is(p, span, a, h1, h2, h3, h4, h5, h6, li, label, button, strong, em, th, td) {
  transition: color var(--transition-duration);
}
body {
  color: var(--foreground);
  font-family: "Montserrat", "Montserrat Fallback";
  font-size: 16px;
}
.custom-toggle.react-toggle--checked .react-toggle-track {
  background-color: var(--primary);
}
.react-toggle:hover .react-toggle-track {
  background-color: var(--primary) !important;
  opacity: 0.8;
}

.robot {
  animation: moveInOut 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.4s ease-out forwards;
}
